.main{
    border-collapse: separate;
    border-spacing: 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.main th{
    padding:4px;
    text-align: left;
    vertical-align: center;
    color: #444;
    background-color: #feedf3;
    border-left: 3px double #999;
    border-top: 1px solid #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.main td{
    padding:4px;
    background-color: #fafafa;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.main th.first{
    text-align: left;
    padding:4px;
    background-color: peachpuff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.main th.plan{
    text-align: left;
    padding:4px;
    background-color: burlywood;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.main th.result{
    text-align: left;
    padding:4px;
    background-color: bisque;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.main th.inter{
    text-align: left;
    padding:4px;
    background-color: khaki;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.main th.final{
    text-align: left;
    padding:4px;
    background-color: wheat;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.continual
{
    border-collapse: separate;
    border-spacing: 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;    
}
.continual th
{
    padding: 4px;
    text-align: left;
    vertical-align: top;
    color: #444;
    background-color: #ccc;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;    
}
.continual td
{
    padding: 4px;
    background-color: #fafafa;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;    
}