table.inner01
{
    width: 150px;
    border-collapse: separate;
    border-spacing: 0px;
    /* border-top: 1px solid #ccc; */
    /* border-left: 1px solid #ccc; */
}
.main th
{
    padding:4px;
    text-align: left;
    vertical-align: top;
    color: #444;
    background-color: #feedf3;
    border-left: 3px double #999;
    border-top: 1px solid #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.inner01 td
{
    padding:4px;
    background-color: #fafafa;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.inner02 td
{
    padding:4px;
    background-color: #fafafa;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

td.hp 
{
    width: 100px;
}

td.sign
{
    font-size: 24pt;
    width: 60px;
    text-align: center;
}
td.interrupt
{
    font-size: 24pt;
    width: 60px;
    text-align: center;
}
td.upload
{
    font-size: 24pt;
    width: 60px;
    text-align: center;
}
